* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-leads: #2ac297;
  --clr-tempo: #3895ff;
  --clr-ticket: #b63ff8;
  --clr-conversao: #aff030;
  --clr-cac: #f87801;
  --clr-leads-s-acao: #f43f42;
  --clr-vendas: #d977c4;
  --clr-test-drive: #19e546;
  --clr-funil: #cc8552;
  --clr-content: #2b2c4d;
  --clr-highlight: #43458e;
  --clr-muted: #8284b5;
  --clr-text: #fff;
  --clr-bg-dark: #1b1a30;
}

body {
  padding: 1rem;
  background-color: var(--clr-bg-dark);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-content);
  font-family: "Rubik", system-ui, sans-serif;
  text-decoration: none;
  color: var(--clr-text);
  border-radius: 12px;
  transition: .2s;
}

.card:hover {
  background-color: var(--clr-highlight);
}

.card__icon__container {
  border-radius: 12px 0 0 12px;
  padding: 1.5rem 0.75rem;
}

.card__icon {
  max-width: 2rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.card__content h2 {
  font-size: 1.25rem;
  height: 3rem;
  max-width: 12rem;
}

.card__data {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 2rem;
  gap: 0.5rem;
}

.arrow {
  max-height: 2.5rem;
}

.down {
  transform: rotate(180deg);
}

.card__data-prev {
  color: var(--clr-muted);
  font-size: 1rem;
}

.leads .card__data {
  color:var(--clr-leads);
}

.leads .card__icon__container {
  background-color: var(--clr-leads);
}

.conversao .card__data {
  color:var(--clr-conversao);
}

.conversao .card__icon__container {
  background-color: var(--clr-conversao);
}

.vendas .card__data {
  color:var(--clr-vendas);
}

.vendas .card__icon__container {
  background-color: var(--clr-vendas);
}

.tempo .card__data {
  color:var(--clr-tempo);
}

.tempo .card__icon__container {
  background-color: var(--clr-tempo);
}

.funil .card__data {
  color:var(--clr-funil);
}

.funil .card__icon__container {
  background-color: var(--clr-funil);
}

.test-drive .card__data {
  color:var(--clr-test-drive);
}

.test-drive .card__icon__container {
  background-color: var(--clr-test-drive);
}

.ticket .card__data {
  color:var(--clr-ticket);
}

.ticket .card__icon__container {
  background-color: var(--clr-ticket);
}

.leads-s-acao .card__data {
  color:var(--clr-leads-s-acao);
}

.leads-s-acao .card__icon__container {
  background-color: var(--clr-leads-s-acao);
}

.cac .card__data {
  color:var(--clr-cac);
}

.cac .card__icon__container {
  background-color: var(--clr-cac);
}
